{
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "/contexts",
    "/components",
    "/types",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
